@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
$secondary-color: rgba(0, 17, 255, 0.808);
$text-color: #081b29df;
$box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.692);
$border-radius: 5px;
$border: 1px solid black;
$margin-box: 0 60px;

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  font-family: "sofia pro", sans-serif ;
}

h1{
  font-weight: 800;
  font-size: 30px;
  color: $text-color;
}

h3{
  margin-top: 20px;
  font-size: 25px;
  color: $secondary-color;
  font-weight: 900;
}
header{
  margin-top: 50px;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  padding: 5px 10px;
  padding-bottom: 10px;

  .dev{
 color: $secondary-color;
}

.logo{
  color: $text-color;
  font-weight: 900;
  font-size: 20px;

  .dev{
    font-size: 18px;
    font-weight: 900;
  }
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}

.features-menu{
  display: none;
  background-color: $secondary-color;
  border-radius: 5px;
  padding-top: 30px;
  position: absolute;
  z-index: 1;

  li{
    border-bottom: 1px solid #f3f1f1;
    padding: 20px;

    a{
      width: 100%;
      color: white;
      font-weight: 800;
      transition: 0.1s;
    }
    a:hover{
      border-radius: $border-radius;
      color: $secondary-color;
      background-color: white;
      opacity: 0.8;
    }
  }

  li:last-of-type{
    border-bottom: none;
  }
}

.dropdown{
  position: relative;

  span{
    z-index: 2;
    position: relative;
    cursor: pointer;
  }

  &:hover .features-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    margin-left: -130px;
    margin-top: -30px;

  &:hover .material-symbols-outlined{
    background-color: #f3f1f1;
    padding: 5px;
    border-radius: 3px;
  }
}
}}

.home{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;

.img-container{
  display: flex;
  justify-content: center; 

  .my-face{
    height: 40vh;
    max-width: 350px;
    margin-top: 40px;
    margin-bottom: 50px;
    border-radius: 3%;
    box-shadow: 0px 0px 10px 5px rgba($color: #000000, $alpha: 0.7);
  }
}
  .homecontent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  h6{
    font-size: 15px;
  }

.divider{
  display: flex;
  justify-content: center;

.line{
  margin: 10px 50px;
  background-color: $text-color;
  width: 200px;
  height: 2px;
}
}
.wrapper{
 margin:40px;
  .button{
    .icon{
      flex-wrap: wrap;
      display: flex;
      justify-content: center;

        i{
          color: #ffffff;
          transform: scale(160%);
          padding: 10px;
          margin: 20px 30px;
          border-radius: 50%;
          box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.253);
          border: $border;
         
        } 
          .fa-facebook{
            background-color: #1877F2;
          }
          .fa-instagram{
            background-color: #E4405F;
          }
          .fa-github{
            background-color: #131418;
          }
        
      }
    }
  }
}


.wrapper-img{
display: flex;
justify-content: center;

img{
  width: 60%;
}
}

main{
position: relative;
width: 100%;
background-color: $secondary-color;
color: white;
font-weight: 900;

h6{
  padding-top: 30px;
  text-align: center;
  font-weight: 800;
  font-size: 22px;
  margin-bottom: 30px;
}

.wrap-biografy{
  display: flex;
  justify-content: center;
}

p{
  max-width: 800px;
  margin: 0 30px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: white;
  padding-bottom: 40px;
  line-height: 2em;
}

.wrapper-skills{
  display: flex;
  justify-content: center;

 .skills{ 
    position: absolute;
    bottom: -200px;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    background-color: rgb(255, 255, 255);
    border: $border;

    .d-h5{
      display: flex;
      justify-content: center;
  
      h5{
        margin-bottom: 30px;
        margin-top: 20px;
        color: $secondary-color;
        font-size: 22px;
        font-weight: 900;
      }
    }
  

    .w-skills{
      flex-wrap: wrap;
      display: flex;
      justify-content: space-around;
      
      i{
        box-shadow: $box-shadow;
        border-radius: 10px;
        border: $border;
        background-color: white;
        padding: 20px;
        margin-bottom:50px;
      }
    
      .fa-html5{
        color: orangered;
      }
    
      .fa-css3{
        color:rgb(38, 38, 253);
      }
    
      .fa-bootstrap{
        color: rgb(255, 0, 200);
      }
    
      .fa-sass{
        color: rosybrown;
      }
    }

  .skill{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin:10px;

    span{
      font-size: 18px;
      font-weight: 700;
      color: $text-color;
      margin-bottom: 50px;
        }
      }
    }
  }
}

.portfolio{
  margin-top: 300px;
  display: flex;
  justify-content: center;
 
  .wrapper-portfolio{
    max-width: 1300px;
    text-align: center;
    width: 80%;
    border: $border;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
  }

  .container-works{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .work{
      border-radius: $border-radius;
      box-shadow: $box-shadow;
      margin: 50px 0;

      img{
        height:100px
      }
    }
  }
  h3{
    font-size: 30px;
  }
 
}
   .contact-me{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .wrap-footer{ 
      width: 80%;
      max-width: 1400px;
      border: $border;
      border-radius: $border-radius;
      box-shadow: $box-shadow;
      font-size: 18px;
      padding: 50px;

  h3{
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
  }
  .form-row{
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
    label{
      margin-bottom: 15px;
    }

    textarea{
      font-size: 14px;
      border: $border;
      border-radius: 3px;
      min-height: 200px;
      margin-bottom: 10px;
      padding: 7px;
      resize: none;
    }

    .instructions{
      font-size: 14px;
      margin-bottom: 30px;
    }
  }

  .form-row input[type='text']{
    border: $border;
    border-radius: 3px;
    width: 100%;
    padding: 7px;
    font-size: 14px;
  }

.form-row-button{
  display: flex;
  justify-content: center;

.submit{
  width:150px;
  padding: 20px;
  border: $border;
  border-radius: 40px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background-color: $secondary-color;
  box-shadow: 1px 5px 10px 0px rgba(0, 0, 0, 0.61);
    }
  }
}

   footer{
    margin-top: 20px;
   }