@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "sofia pro", sans-serif;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: lightblue;
}

header {
  border-bottom: 1px solid black;
  background-color: white;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 5px 10px;
  padding-bottom: 10px;
}
header .dev {
  color: rgba(0, 17, 255, 0.808);
}

.logo {
  color: rgba(8, 27, 41, 0.8745098039);
  font-weight: 900;
  font-size: 20px;
}
.logo .dev {
  font-size: 18px;
  font-weight: 900;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.features-menu {
  display: none;
  background-color: rgba(0, 17, 255, 0.808);
  border-radius: 5px;
  padding-top: 30px;
  position: absolute;
  z-index: 1;
}
.features-menu li {
  border-bottom: 1px solid #f3f1f1;
  padding: 20px;
}
.features-menu li a {
  width: 100%;
  color: white;
  font-weight: 800;
  transition: 0.1s;
}
.features-menu li a:hover {
  border-radius: 5px;
  color: rgba(0, 17, 255, 0.808);
  background-color: white;
  opacity: 0.8;
}
.features-menu li:last-of-type {
  border-bottom: none;
}

.dropdown {
  position: relative;
}
.dropdown span {
  z-index: 2;
  position: relative;
  cursor: pointer;
}
.dropdown:hover .features-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin-left: -130px;
  margin-top: -30px;
}
.dropdown:hover .features-menu:hover .material-symbols-outlined {
  background-color: #f3f1f1;
  padding: 5px;
  border-radius: 3px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container .left {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  color: white;
  background-color: #003147;
  width: 100%;
}
.container .left .divider {
  border-radius: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.392);
  width: 60%;
  margin-bottom: 40px;
}
.container .left h1 {
  margin-top: 10px;
  font-size: 32px;
}
.container .left span {
  font-size: 20px;
  margin-top: 20px;
}
.container .left img {
  margin-top: 10px;
  width: 130px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.418);
}
.container .left .contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.container .left .contact h2 {
  font-size: 28px;
  margin-bottom: 20px;
}
.container .left .contact ul li {
  padding: 10px;
}

.istruction {
  text-align: center;
  margin-bottom: 10px;
}
.istruction ul li {
  padding: 10px;
}
.istruction h2 {
  font-size: 28px;
  padding: 20px;
}

.right {
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  width: 100%;
  text-align: center;
}
.right .right-bottom {
  margin-top: 30px;
}
.right .right-bottom .skills ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.right .right-bottom .skills ul li i {
  transform: scale(180%);
  padding: 10px 20px;
}
.right .right-bottom .hobby {
  margin-top: 30px;
}
.right .right-bottom .hobby ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.right .right-bottom .hobby ul li i {
  padding: 10px 20px;
  transform: scale(180%);
}
.right h4 {
  font-size: 24px;
  margin: 20px 0;
  font-weight: 800;
  color: rgba(8, 27, 41, 0.8745098039);
}
.right p {
  text-align: start;
  font-size: 16px;
  margin: 0 30px;
}

footer {
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
}

@media only screen and (min-width: 1382px) {
  .container {
    margin: 30px 0;
    flex-direction: row;
  }
  .container .left {
    border: 1px solid black;
    box-shadow: 0 35px 35px 0 rgba(0, 0, 0, 0.618);
    width: 30%;
    height: 150vh;
  }
  .container .right {
    border: 1px solid black;
    box-shadow: 0 35px 35px rgba(0, 0, 0, 0.618);
    width: 50%;
    height: 150vh;
  }
  .container .right .divider {
    display: flex;
    justify-content: center;
  }
  .container .right .divider .white {
    background-color: black;
    height: 1px;
    width: 50%;
  }
  .container .right .right-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .container .right .right-bottom .hobby {
    margin-top: 0;
  }
}/*# sourceMappingURL=Cv.css.map */