@media only screen and (min-width: 961px) {

  header{
    justify-content: space-around;

    .menu{
      span{
        transform: scale(150%);
      }
    }

    .logo{
      font-size: 32px;
    }
  }

.home{
  margin-top: 50px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
 .wrapper{
  .button{
    .icon{
      a{
        transition: .6s;
      }
      a:hover{
          transform: translate(0, 10px);
          opacity: 0.9;
      }
    }
  }
 }
  .right{
    margin-left: 20%;
    .homecontent{ 
      h1{
        font-size: 36px;
      }
      h3{
        font-size: 30px;
      }
    }

  }
.img-container{

  .my-face{
    height: 60vh;
  }
}
  }


main{
  .wrapper-skills{
    .skills{
      width: 50%;
      .w-skills{
        i{
          transform: scale(120%);
        }
      }
    }
  }
}
}

.wrapper-img{
  img{
    margin-top: 50px;
    max-width: 1200px;
  }
}
.contact-me{
  text-align: center;
  font-weight: 700;
  
.forms{
  margin-top: 100px;
  .form-row-button{
    button{
      cursor: pointer;
    }
    .submit:hover{
      opacity: 0.98;
      transform: scale(101%);
    }
  }
}
}